{
    "password": "<PASSWORD>",
    "language": "en_us",
    "firstName": "<FIRSTNAME>",
    "lastName": "<LASTNAME>",
    "emailAddress": "<EMAILADDRESS>",
    "userName": "<USERNAME>",
    "timezone": "America/New York",
    "phone": "123-456-7890",
    "organization": "organization",
    "position": "position",
    "customAttributes": [
        {
            "attributeId":  "<UID>",
            "attributeValue": "<UID>"
        }
    ],
    "groups": [
        6
    ]
}
